<h2>{{question.author}} wants to know {{question.content}}</h2>
  {{#if isImageShowing}}
    <p><img src={{question.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
  <button {{action 'delete' question}}>REMOVE THIS QUESTION</button>

<li>
{{question.answer.username}}
{{question.answer.content}}
</li>
