<li> {{#link-to 'question' question.id}}{{question.author}} wants to know {{question.title}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{questions.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>REMOVE THIS QUESTION</button>
</li>

<li>
{{question.answer.username}}
{{question.answer.content}}
</li>
