{{question.author}}, wishes to know. {{question.body}}.

Here are their notes {{question.notes}}

Please leave your answer below!
<br>

<p><img src={{question.image}}></p>

<button {{action 'delete' question}}>Delete</button>
