 <h1>{{question.title}}</h1>
<h2>Upvotes: {{question.questionVotes}}</h2>
<button {{action 'addToVote' question}}{{action 'addLocalvotes' question}}>I support this!</button>

<h2>{{question.author}} wants to know {{question.body}}</h2>


<h4>Author Notes: {{question.notes}}</h4>


{{#if isImageShowing}}
  <p><img src={{question.image}} {{action 'imageHide'}}></p>
{{else}}
  <button {{action 'imageShow'}}>Image</button>
{{/if}}

<button {{action 'delete' question}}>REMOVE THIS QUESTION</button>
