<li>{{question.author}} wants to know {{question.title}}
  {{#if isImageShowing}}
    <p><img src={{questions.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
  <button {{action 'delete' question}}>REMOVE THIS QUESTION</button>
</li>
